body {
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}

/* FOOTER */
a {
	color: #3c8453;
}

a:hover {
	color: #bcaa96;
	text-decoration: none;
}

footer a {
	color: #bcaa96;
}

footer a:hover {
	color: #3c8453;
}

footer {
	background: #222;
	color: #d3d4d6;
	padding: 0 20px;
}

/* footer p {
	padding: 8px 0;
} */

.socials {
	list-style-type: none;
	padding: 0;
}

.socials li {
	align-self: center;
	display: inline-block;
	margin-left: 10px;
	padding-top: 6px;
}

.socials img {
	width: 32px;
}

.socials img:hover {
	opacity: 0.5;
}

@media screen and (min-width:560px) {
	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media screen and (max-width:559px) {
	footer {
		text-align: center;
		padding: 10px;
	}
}